.heading {
	text-align: center;
	background-image: radial-gradient(#0000cc, #000080);
	color: white;
	text-align: center;
} 

body {
	background-color: #262626;
}

.holder {
  background-image: linear-gradient(to right, #3282b8, #0f4c75);
}

.text-holder {
  color: white;
}
